@charset "utf-8";

/*
    Front-end - Assignment 1
    style page for index.html

    Author: Yuqing
    Date: September 26, 2023
   
*/

body{
    margin: 20px 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.5em;
}

td{
    text-align: center;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
button{
    font-size: 1em;
    margin: 0 20px;
}




